#head1{
    height: 100px;
    width: 400px;
    background-color: pink;
    text-align: center;
    /* border-width: 5px;
    border-style: dashed;
    border-color: aquamarine; */
    border: 5px dashed aquamarine;
}
#box{
    height: 100px;
    width: 200px;
    background-color: pink;
    border: 2px solid red;
    border-radius: 15px;
    padding: 25px;
    margin-top: 30px;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    color: white;
}
#content{
    background-color: black;
    height: 60px;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
#in{
    color: black;
}
a{
    text-decoration: none;
    margin-right: 200px;
}
#b2{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
    padding: 20px;
}
#content-area{
    background-color: rgb(213, 168, 175);
    height: 544px;
}
footer{
    height: 100px;
    color: white;
    background-color: black;
}